## Importando Bibliotecas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.metrics import classification_report
%matplotlib inline

## Coletando DataSet

In [2]:
csv = pd.read_csv("dataset_tomate.csv")

## Definindo pré processamento

In [3]:
csv.drop(axis=1, columns="id", inplace=True)

In [4]:
entradas = csv.iloc[:,list(range(0,21))]
resist = csv.iloc[:,[-1]]
print(f"Formato das tabelas de dados {entradas.shape} e classes {resist.shape}")

Formato das tabelas de dados (132, 21) e classes (132, 1)

## Dividindo os dados em conjunto de treinamento e de testes

In [13]:
entradas_treino, entradas_teste, resist_treino, resist_teste = train_test_split(entradas, resist, test_size=0.2)

print(f"Formato das tabelas de dados de treino {entradas_treino.shape} e teste {entradas_teste.shape}")

Formato das tabelas de dados de treino (105, 21) e teste (27, 21)

## Teste do treinamento

In [6]:
entradas_treino.head()

,trat,NDVI_d28,SAVI_d28,GNDVI_d28,MCARI1_d28,SR_d28,NDVI_d01,SAVI_d01,GNDVI_d01,MCARI1_d01,...,NDVI_d04,SAVI_d04,GNDVI_d04,MCARI1_d04,SR_d04,NDVI_d08,SAVI_d08,GNDVI_d08,MCARI1_d08,SR_d08
42,203,0.825696,1.238498,0.716165,17929.59988,11.265616,0.791616,1.187398,0.732857,30116.19456,...,0.731560,1.097287,0.667511,12398.74121,6.649066,0.699504,1.049210,0.650380,12635.83173,5.762495
97,314,0.790792,1.186142,0.680645,17024.83605,9.576516,0.777486,1.166205,0.713292,32975.21484,...,0.774107,1.161120,0.693496,18437.18073,8.457086,0.790111,1.185127,0.716148,18904.87543,9.028474
8,111,0.790080,1.185074,0.683249,16212.71937,9.193788,0.741140,1.111679,0.703304,21842.74825,...,0.710367,1.065501,0.653622,13079.29736,6.154164,0.711068,1.066559,0.649362,14597.79894,6.153231
49,193,0.669378,1.004018,0.567408,11005.35580,5.170459,0.666991,1.000461,0.610935,20085.95433,...,0.673823,1.010686,0.594705,11221.62231,5.266138,0.720295,1.080400,0.621676,15088.01072,6.391030
30,163,0.760046,1.140018,0.671142,14121.69149,8.311702,0.761772,1.142632,0.709033,27806.86002,...,0.746825,1.120187,0.680061,14132.96383,7.311564,0.783435,1.175108,0.706289,17621.19398,8.720015

In [7]:
resist_treino.head()

    Classe
42       1
97       0
8        1
49       0
30       0

In [8]:
# Cria o classificar KNN
k = 9
modelo = KNeighborsClassifier(n_neighbors=k)

# Cria o modelo de machine learning
modelo.fit(entradas_treino, resist_treino)

c:\python39\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=9)

In [9]:
# chamando o método predict() para obter as previsões
resist_encontradas = modelo.predict(entradas_teste)
print("Predição: {}".format(resist_encontradas))

Predição: [1 1 0 0 1 1 0 1 1 0 1 1 0 1 1 0 1 1 1 0 1 0 1 1 1 1 1]

In [10]:
accuracy = accuracy_score(resist_teste, resist_encontradas)
print("Media de acerto da classificação: ", accuracy)

Acerto médio de classificação:  0.9259259259259259

In [11]:
svc_model= SVC()
svc_model.fit(entradas_treino,resist_treino)
resist_predict_svc= svc_model.predict(entradas_teste)
print(classification_report(resist_teste,resist_predict_svc))

              precision    recall  f1-score   support

           0       1.00      0.38      0.55         8
           1       0.79      1.00      0.88        19

    accuracy                           0.81        27
   macro avg       0.90      0.69      0.71        27
weighted avg       0.85      0.81      0.78        27

c:\python39\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)